:root {
  --background: #F5F5F5;
  --background-modal: #fff;
  --first-text-color: #1d194f;
  --second-text-color: rgba(29, 25, 79, 0.5);
  --color-accent: #4067ff;
  --color-accent-light: rgba(64, 103, 255, 0.5);
    
}